# compiled output
**/dist
**/node_modules
**/.turbo
.env

**/log_iterations.json

# Client
packages/client/.next
packages/client/node_modules
packages/client/dist
packages/client/.env.local

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# TS config
*.tsbuildinfo
tsconfig.build.tsbuildinfo
tsconfig.tsbuildinfo

*.tgz

# Plugins
plugins/scarb/src/workspace/

# Database
packages/database/data
packages/database/data/pg_wal/
