{
  "servers": {
    "weather": {
      "command": "node",
      "args": ["../mcp_server/weather/build/index.js"]
    },
    "not_weather": {
        "command": "node",
        "args": ["../mcp_server/not_weather/build/index.js"]
    },
    "brave-search": {
        "command": "npx",
        "args": [
          "-y",
          "@modelcontextprotocol/server-brave-search"
        ],
      "env": {
        "BRAVE_API_KEY": "BSAgWXjaOOpxLi7o-_2jw3oDJSrVw5K"
      }
    }
  }
}
